/* =============== MAIN CONTENT SECTION =============== */

.mainbar {
    width: 100%;
    padding: 70px 0px 0px 0px;
    background-color: #FAFCFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* =============== MAIN CONTENT TOPBAR SECTION =============== */

.mainbar .topbar {
    width: 100%;
    padding: 8% 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #13347a;
}

.mainbar .topbar h2 {
    font-size: 36px;
    color: #FFFFFF;
}

.mainbar .topbar p {
    font-size: 16px;
    color: #A7BAE1;
}

/* =============== CONTENT SECTION =============== */

.mainbar .content {
    width: 100%;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 3%;
    flex-wrap: wrap;
}

.mainbar .content .card {
    width: 400px;
    height: fit-content;
    background-color: #FFFFFF;
    border: 2px solid #E4E9EF;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.3s ease-out;
    overflow: hidden;
}

.mainbar .content .card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 14px;
    transition: 0.3s ease-in;
}

.mainbar .content .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s ease-out;
}

.mainbar .content .card img:hover {
    transform: scale(1.10);
    transition: 0.3s ease-in;
}

.mainbar .content .card .fleet-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 3%;
}

.mainbar .content .card .fleet-info .title {
    font-size: 18px;
    margin: 10px;
    font-weight: 600;
}

.mainbar .content .card .fleet-info .chips-bg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mainbar .content .card .fleet-info .chips-bg .chips {
    margin: 5px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7EEF9;
    color: #0F1C2E;
    font-size: 12px;
    border-radius: 90px;
}

.mainbar .content .card .fleet-info .chips-bg .chips.active {
    background-color: #BEFDEB;
    color: #009966;
    font-weight: 600;
}

.mainbar .content .card .fleet-info .chips-bg .chips.inactive {
    background-color: #FDECEC;
    color: #EF4343;
    font-weight: 600;
}

.mainbar .content .card .fleet-info .chips-bg .chips i {
    margin-inline: 5px;
}

.mainbar .content .card .fleet-info .chips-bg .chips p {
    margin-right: 10px;
}


/* =============== RESPONSIVE =============== */

@media (max-width: 992px) {

    /* =============== MAIN CONTENT TOPBAR SECTION =============== */

    .mainbar .topbar {
        width: 100%;
        padding: 8% 5%;
    }

    .mainbar .topbar h2 {
        font-size: 36px;
    }

    .mainbar .topbar p {
        font-size: 16px;
    }

    /* =============== CONTENT SECTION =============== */

    .mainbar .content {
        width: 100%;
        gap: 10px;
        padding: 3%;
    }

    .mainbar .content .card {
        width: 330px;
        height: 380px;
        margin: 10px;
        justify-content: start;
    }

    .mainbar .content .card img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mainbar .content .card .fleet-info {
        width: 100%;
        padding: 3%;
        margin-top: 10px;
    }

    .mainbar .content .card .fleet-info .title {
        font-size: 18px;
        margin: 10px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips {
        margin: 5px;
        padding: 5px 8px;
        font-size: 12px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips i {
        margin-inline: 5px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips p {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {

    /* =============== MAIN CONTENT TOPBAR SECTION =============== */

    .mainbar .topbar {
        width: 100%;
        padding: 8% 5%;
    }

    .mainbar .topbar h2 {
        font-size: 30px;
    }

    .mainbar .topbar p {
        font-size: 16px;
    }

    /* =============== CONTENT SECTION =============== */

    .mainbar .content {
        width: 100%;
        gap: 10px;
        padding: 3%;
    }

    .mainbar .content .card {
        width: 100%;
        height: fit-content;
        margin: 10px;
        justify-content: start;
    }

    .mainbar .content .card img {
        width: 100%;
        height: 280px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mainbar .content .card .fleet-info {
        width: 100%;
        padding: 3%;
        margin-top: 10px;
    }

    .mainbar .content .card .fleet-info .title {
        font-size: 18px;
        margin: 10px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips {
        margin: 5px;
        padding: 5px 8px;
        font-size: 12px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips i {
        margin-inline: 5px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips p {
        margin-right: 10px;
    }
}

@media (max-width: 576px) {

    /* =============== MAIN CONTENT TOPBAR SECTION =============== */

    .mainbar .topbar {
        width: 100%;
        padding: 8% 5%;
    }

    .mainbar .topbar h2 {
        font-size: 28px;
    }

    .mainbar .topbar p {
        font-size: 16px;
    }

    /* =============== CONTENT SECTION =============== */

    .mainbar .content {
        width: 100%;
        gap: 10px;
        padding: 3%;
    }

    .mainbar .content .card {
        width: 100%;
        height: fit-content;
        margin: 10px;
        justify-content: start;
    }

    .mainbar .content .card img {
        width: 100%;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mainbar .content .card .fleet-info {
        width: 100%;
        padding: 3%;
        margin-top: 10px;
    }

    .mainbar .content .card .fleet-info .title {
        font-size: 18px;
        margin: 10px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips {
        margin: 5px;
        padding: 5px 8px;
        font-size: 12px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips i {
        margin-inline: 5px;
    }

    .mainbar .content .card .fleet-info .chips-bg .chips p {
        margin-right: 10px;
    }
}