/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    /* =============== NAVBAR =============== */

    .menu-list {
        display: none;
    }

    .btn-container .call-btn {
        display: none;
    }

    .btn-container .menu-btn {
        display: block;
    }

    /* =============== HERO SECTION =============== */

    .hero {
        width: 100%;
        padding: 100px 10px 30px 10px;
    }

    .hero .hero-container {
        width: 90%;
        gap: 10px;
        padding: 5%;
    }

    .hero .title {
        margin-top: 25px;
        font-size: 45px;
    }

    .hero .des {
        font-size: 17px;
    }

    .hero .btns {
        width: 80%;
        margin: 30px;
    }

    /* =============== QUICK BOOKING SECTION =============== */

    .book-box {
        width: 100%;
        padding: 5%;
        border-radius: 10px;
    }

    .book-box .car {
        width: 70px;
        height: 70px;
        padding: 10px;
        font-size: 20px;
    }

    .book-box .title {
        font-size: 24px;
    }

    .book-box .desc {
        font-size: 14px;
        margin: 5px;
    }

    .book-box .btn {
        margin: 15px;
        width: 60%;
        padding: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    /* =============== NAVBAR =============== */

    .head {
        width: 90%;
    }

    .sidebar .top a .logo {
        width: 100px;
        margin: 5px;
    }

    /* =============== HERO SECTION =============== */

    .hero {
        width: 100%;
        padding: 90px 10px 30px 10px;
    }

    .hero .hero-container {
        width: 95%;
        gap: 8px;
        padding: 3%;
    }

    .hero .mgs span {
        font-size: 13px;
        font-weight: 500;
    }

    .hero .title {
        margin-top: 25px;
        font-size: 38px;
    }

    .hero .des {
        font-size: 16px;
    }

    .hero .btns {
        width: 90%;
        flex-direction: column;
        margin: 30px;
    }

    /* =============== QUICK BOOKING SECTION =============== */

    .book-box {
        width: 100%;
        padding: 3%;
        border-radius: 10px;
    }

    .book-box .car {
        width: 70px;
        height: 70px;
        padding: 10px;
        font-size: 20px;
    }

    .book-box .title {
        font-size: 24px;
    }

    .book-box .desc {
        font-size: 14px;
        margin: 5px;
    }

    .book-box .btn {
        margin: 15px;
        width: 60%;
        padding: 10px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    /* =============== NAVBAR =============== */

    .head {
        width: 100%;
    }

    .head .logo {
        width: 100px;
    }

    .btn-container .menu-btn {
        font-size: 26px;
    }

    /* =============== HERO SECTION =============== */

    .hero {
        width: 100%;
        padding: 100px 10px 30px 10px;
    }

    .hero .hero-container {
        width: 100%;
        gap: 5px;
        padding: 3%;
    }

    .hero .mgs span {
        font-size: 12px;
        font-weight: 500;
    }

    .hero .title {
        margin-top: 25px;
        font-size: 40px
    }

    .hero .des {
        font-size: 14px;
    }

    .hero .btns {
        width: 100%;
        flex-direction: column;
        margin: 30px;
    }

    /* =============== QUICK BOOKING SECTION =============== */

    .book-box {
        width: 100%;
        padding: 3%;
        border-radius: 10px;
    }

    .book-box .car {
        width: 70px;
        height: 70px;
        padding: 10px;
        font-size: 20px;
    }

    .book-box .title {
        font-size: 22px;
    }

    .book-box .desc {
        font-size: 14px;
        margin: 5px;
    }

    .book-box .btn {
        margin: 15px;
        width: 90%;
        padding: 10px;
    }
}