/* =============== LOADER =============== */

body {
    background-color: #FFFAFC;
}

:root {
    --menu-font: 16px;
    --border-clr: #E4E9EF;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFFAFC;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #0F0407;
    border-top: 6px solid #2563EA;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* =============== NAVBAR =============== */

.navbar {
    background-color: #ffffffe3;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    padding: 20px;
    z-index: 900;
    overflow: hidden;
    border-bottom: 1px solid var(--border-clr);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .logo {
    width: 150px;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu-list li a {
    color: #846772;
    font-size: var(--menu-font);
    padding: 10px;
    transition: 0.3s ease-out;
    border-radius: 10px;
}

.menu-list li:hover a {
    background-color: #2563EA;
    color: #FFFFFF;
    transition: 0.3s ease-in;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-container .call-btn {
    font-size: var(--menu-font);
    background-color: #2563EA;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid transparent;
    transition: 0.3s ease-out;
}

.btn-container .call-btn:hover {
    background-color: #FFFFFF;
    border: 2px solid #2563EA;
    color: #2563EA;
    transition: 0.3s ease-in;
}

.btn-container .menu-btn {
    font-size: 34px;
    cursor: pointer;
    padding: 10px;
    display: none;
}

/* =============== SIDEBAR =============== */

.sidebarBg {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 990;
    background-color: #0f0407d0;
    backdrop-filter: blur(5px);
    /* display: none; */
    transform: translateX(-100%);

}

.sidebar {
    width: 85%;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    border-right: 1px solid var(--border-clr);
    transform: translateX(-100%);
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .top {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-clr);
    overflow: hidden;
}

.sidebar .top a .logo {
    width: 120px;
    margin: 5px;
}

.sidebar .top .close-menu {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
    background-color: #FFFFFF;
    font-size: var(--menu-font);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}

.sidebar .top .close-menu:hover {
    background-color: #E4E9EF;
    transition: 0.3s ease-in;
}

.sidebar .main {
    height: 100vh;
    padding: 10px;
}

.sidebar .main ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.sidebar .main ul li {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #000;
    border: 1px solid var(--border-clr);
    transition: 0.3s ease-out;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .main ul li:hover {
    background-color: #FFFFFF;
    border: 1px solid #2b7fff;
    transition: 0.3s ease-in;
}

.sidebar .main ul li:hover a {
    color: #155dfc;

}

.sidebar .main ul .active-menu {
    background-color: #2b7fff;
    border: 1px solid #FFFFFF;
}

.sidebar .main ul .active-menu a {
    color: #FFFFFF;
}

.sidebar .main ul .call-btn {
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
    background-color: #0f514e;
}

.sidebar .main ul .call-btn a {
    color: #FFFFFF;
    font-weight: 400;
    animation: fade-in-alternate-reverse 1s ease-in-out 0s infinite alternate-reverse none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .main ul .call-btn a i {
    margin-right: 10px;
}

.sidebar .main ul .call-btn:hover {
    background-color: #07302e;
    transition: 0.3s ease-in;
    border: 1px solid transparent;
}

.sidebar .main ul .call-btn:hover a {
    color: #FFFFFF;
}

@keyframes fade-in-alternate-reverse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar .main ul li a {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 14px;
    width: 100%;
    min-height: 50px;
}

.sidebar .main ul li a i {
    margin-inline: 10px;
}

/* =============== HERO SECTION =============== */

.hero {
    width: 100%;
    padding: 130px 10px 30px 10px;
    background-color: #FAFCFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 5%;
}

.hero .mgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #00ffaa3d;
    color: #009966;
    padding: 5px 10px;
    border-radius: 90px;
    text-align: center;
}

.hero .mgs span {
    font-size: 14px;
    font-weight: 500;
}

.hero .title {
    margin-top: 30px;
    color: #04070F;
    font-size: 48px;
    font-weight: bold;
}

.hero .title span {
    color: #2563EA;
}

.hero .des {
    color: #677284;
    font-size: 18px;
}

.hero .btns {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.hero .btns .book-btn {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2563EA;
    color: #FFFFFF;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s ease-out;
    border: 1px solid #2563EA;
    font-weight: 500;
}

.hero .btns .book-btn i {
    margin-right: 8px;
}

.hero .btns .book-btn:hover {
    border: 1px solid #2563EA;
    background-color: #FFFFFF;
    color: #2563EA;
    transition: 0.3s ease-in;
}

.hero .btns .services-btn {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    color: #2563EA;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s ease-out;
    border: 1px solid #2563EA;
    font-weight: 500;
}

.hero .btns .services-btn i {
    margin-right: 8px;
}

.hero .btns .services-btn:hover {
    border: 1px solid #2563EA;
    background-color: #2563EA;
    color: #FFFFFF;
    transition: 0.3s ease-in;
}

/* =============== QUICK BOOKING SECTION =============== */

.book-box {
    width: 100%;
    background-color: #F4F7FB;
    padding: 5%;
    border-radius: 10px;
    border: 3px solid var(--border-clr);
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.book-box .car {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F6F3E4;
    color: #D08700;
    padding: 10px;
    font-size: 20px;
    border-radius: 100%;
}

.book-box .title {
    font-size: 24px;
    font-weight: bold;
    color: #0F0407;
}

.book-box .desc {
    font-size: 16px;
    color: #677284;
    margin: 5px;
}

.book-box .btn {
    margin: 10px;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    font-size: var(--menu-font);
    font-weight: 500;
    background-color: #D08700;
    color: #F6F3E4;
    transition: 0.3s ease-out;
}

.book-box .btn:hover {
    background-color: #ffa705;
    color: #000;
    transition: 0.3s ease-in;
}