/* =============== MAIN CONTENT SECTION =============== */

.mainbar {
    width: 100%;
    padding: 70px 0px 0px 0px;
    background-color: #fafcff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* =============== MAIN CONTENT TOPBAR SECTION =============== */

.mainbar .topbar {
    width: 100%;
    padding: 8% 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #13347a;
}

.mainbar .topbar h2 {
    font-size: 36px;
    color: #ffffff;
}

.mainbar .topbar p {
    font-size: 16px;
    color: #a7bae1;
}

/* =============== CONTENT SECTION =============== */

.mainbar .content {
    width: 100%;
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.mainbar .content .card {
    width: 430px;
    height: fit-content;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.mainbar .content .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mainbar .content .card .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.mainbar .content .card .info h4 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
}

.mainbar .content .card .info p {
    font-size: 14px;
    color: #647287;
    margin-bottom: 8px;
}

.mainbar .content .card .info a {
    width: 80%;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    background-color: #2563EA;
    color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
    margin: 10px 0px;
}

.mainbar .content .card .info a:hover {
    background-color: #13347a;
    color: #FFFFFF;
    transition: 0.3s ease-in;
}

.mainbar .content .card .info a i {
    margin-right: 5px;
}

/* =============== RESPONSIVE =============== */

@media (max-width: 992px) {

    /* =============== MAIN CONTENT TOPBAR SECTION =============== */

    .mainbar .topbar {
        width: 100%;
        padding: 8% 5%;
    }

    .mainbar .topbar h2 {
        font-size: 36px;
    }

    .mainbar .topbar p {
        font-size: 16px;
    }

    /* =============== CONTENT SECTION =============== */

    .mainbar .content {
        width: 100%;
        padding: 10px;
    }

    .mainbar .content .card {
        width: 80%;
        margin: 10px;
    }

    .mainbar .content .card img {
        width: 100%;
        height: 250px;
    }

    .mainbar .content .card .info {
        padding: 10px;
    }

    .mainbar .content .card .info h4 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .mainbar .content .card .info p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .mainbar .content .card .info a {
        width: 80%;
        height: 50px;
        font-size: 14px;
        margin: 10px 0px;
    }
}

@media (max-width: 768px) {

    /* =============== MAIN CONTENT TOPBAR SECTION =============== */

    .mainbar .topbar {
        width: 100%;
        padding: 8% 5%;
    }

    .mainbar .topbar h2 {
        font-size: 34px;
    }

    .mainbar .topbar p {
        font-size: 16px;
    }

    /* =============== CONTENT SECTION =============== */

    .mainbar .content {
        width: 100%;
        padding: 10px;
    }

    .mainbar .content .card {
        width: 90%;
        margin: 10px;
    }

    .mainbar .content .card img {
        width: 100%;
        height: 230px;
    }

    .mainbar .content .card .info {
        padding: 10px;
    }

    .mainbar .content .card .info h4 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .mainbar .content .card .info p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .mainbar .content .card .info a {
        width: 80%;
        height: 50px;
        font-size: 14px;
        margin: 10px 0px;
    }
}

@media (max-width: 576px) {

    /* =============== MAIN CONTENT TOPBAR SECTION =============== */

    .mainbar .topbar {
        width: 100%;
        padding: 8% 5%;
    }

    .mainbar .topbar h2 {
        font-size: 30px;
    }

    .mainbar .topbar p {
        font-size: 16px;
    }

    /* =============== CONTENT SECTION =============== */

    .mainbar .content {
        width: 100%;
        padding: 10px;
    }

    .mainbar .content .card {
        width: 100%;
        margin: 10px;
    }

    .mainbar .content .card img {
        width: 100%;
        height: 200px;
    }

    .mainbar .content .card .info {
        padding: 10px;
    }

    .mainbar .content .card .info h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .mainbar .content .card .info p {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .mainbar .content .card .info a {
        width: 90%;
        height: 50px;
        font-size: 14px;
        margin: 10px 0px;
    }
}